annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
bcrypt==4.1.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptocode==0.1
cryptography==42.0.5
dispatch==2.0.6
Django==3.2.11
djangorestframework==3.12.2
dnspython==2.6.1
docopt==0.6.2
exceptiongroup==1.2.0
fastapi==0.109.2
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.6
jsonfield==3.1.0
motor==3.3.2
pillow==10.2.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.2
pydantic_core==2.16.3
PyJWT==2.8.0
pymongo==4.6.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.36.3
typing_extensions==4.9.0
urllib3==2.2.1
uvicorn==0.27.1
watchfiles==0.21.0
websockets==12.0
